* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background-color: transparent;
}



.navbar-brand {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 254, 254);
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(248, 248, 248);
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    font-weight: 700;
    border: solid 1px white;
    border-radius: 60px;
}

.main2 {
    background-image: url(imagenes/caipirinha-4782694_1920.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}







/*------------FIN-HEADER---SECTION-1----*/


body {
    background: black;

}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(255, 254, 254);


}



.btn3 {
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn3:hover {
    background-color: rgb(120, 53, 228);
    transition: 0.5s;

}




/*------------FIN-SECTION1---SECTION-2----*/

.section2 {
    background-image: url(imagenes/beach-1869523_1920.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.titulo2 {
    font-size: 4.5rem;
    color: #000000;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.section2container {
    display: flex;
    justify-content: center;
    padding: 10rem;

}

.contenedor2 {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10rem 20rem;
    padding: 4rem;
    margin: 0 auto;



}


.titulos2 {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding-right: 5.3rem;

}


.texto2 {
    padding-right: 8rem;
    width: 20rem;
    margin-top: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);


}

/*------------FIN-SECTION2---SECTION-3----*/
.texto33 {
    font-size: 5rem;
    font-weight: 700;

}

.productos {
    background-color: rgb(255, 247, 247);

}

.card:hover {
    box-shadow: -3px 0px 27px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 0px 27px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 0px 27px -4px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

/*------------FIN-SECTION3---SECTION-4----*/

.contacta {
    background-color: white;
    color: black;
    padding-left: 10rem;

}



/*------------FIN-SECTION3---FOOTER----*/

.futer {
    color: white;

    border-style: solid none none none;
    border-color: rgb(175, 45, 175);


}


.fa {

    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0rem;

}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #3e41e6;
    color: white;
}






/*------------FIN-FOOTER---ZNDE--------*/



.entrega24 {
    background-image: url(imagenes/bw1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.tituloentrega {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 5rem;

    text-align: center;
    margin-top: 25rem;
    font-weight: 700;
}

.animate__animated.animate__flipInX {
    animation-duration: 0.5s;
    animation-delay: 0.2s;

}



.textoentrega {
    color: rgb(253, 253, 255);
    font-size: 2rem;
    text-align: center;
    padding-top: 10rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section25 {
    background-color: black;
    background-image: url(imagenes/nueva7.svg);
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;



}

.section26 {
    background-color: black;
    height: 50rem;
}

.section27 {
    background-color: rgb(0, 0, 0);


    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 40rem;

    background-position: right;

}







/*------------MEDIAS--------*/

@media only screen and (max-width:450px) {
    .contenedor2 {
        display: none;
    }

    .btn3 {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    .texto33 {
        font-size: 2rem;
    }

    .contacta {
        display: none;
    }

}

@media only screen and (min-width:451px) and (max-width:960px) {

    .contenedor2 {
        margin: -3rem;
        padding-left: 15rem;
        padding: 5rem;

    }

    .texto2 {
        display: none
    }


    .contacta {
        padding-left: 2rem;
    }





}


.navbar-toggler-icon {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.navbar-toggler span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 3%;
    height: 3%;
    border-color: wheat;


}

.navbar-toggler-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(131, 110, 54, 0.979);
    background-color: rgba(131, 110, 54, 0.979);
}

.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(131, 110, 54, 0.979);
    background-color: rgba(131, 110, 54, 0.979);
}

.navbar-toggler-icon::before {
    transform: rotate(-45deg);
    background-color: rgba(131, 110, 54, 0.979);
}

.navbar-toggler-icon::after {
    transform: rotate(45deg);
    background-color: rgba(131, 110, 54, 0.979);
}



/*TODO NUEVOOOOOOOOOOOOOOOO*/







#boton-carrito {
    border: none;

    font-size: 30px;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: red;
    background-color: black;
}


#boton.carrito.focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgb(0, 0, 0);


}

.precioProducto {
    font-weight: 700;

}

.boton-agregar {
    background-color: transparent;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 5px;
    border: none;
    padding-left: 3.5rem;
    color: black;
}

.boton-agregar:hover {
    cursor: pointer;
    color: red;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    left: 44rem;

}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    min-height: 100%;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: black;
    padding-bottom: 5px;
    text-align: center;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: none;

}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0px 0;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: transparent;
    color: red;
    border: none;
    font-size: 20px;

}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

#vaciar-carrito {
    color: black;
}

#vaciar-carrito:hover {
    color: red;
}


#myBtn {
    color: black;
}

#myBtn:hover {
    cursor: pointer;
    color: red;
}