@import '../css/header.css';
@import '../scss/components/header';
@import '../scss/base/estilosgenerales';
@import '../css/backup.css';
@import '../scss/components/medias';
@import '../scss/base/extends';
@import '../scss/base/mixin';
@import '../scss/components/nosotros';
@import '../scss/base/mapas';
@import '../scss/components/header';
@import '../scss/components/shop';
@import '../scss/components/medias';



.mapazonas {
    height: 200% 200%;

}

.futer2 {
    bottom: 0;

}


.btn3x {
    margin-top: 2rem;

    width: 60%;
}