@import '../base/variables';
@import '../base/mapas';




.navbar {
    border-bottom: 1px solid darken($loscolores, 20%);

}


.nav-link {

    &:hover {
        background-color: $loscolores;


    }


}

.navbar-dark .navbar-nav .active>.nav-link {
    background-color: $lescolores;
}

.nav-item {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link.active {
    color: rgb(255, 255, 255);
}

.btn3 {
    overflow: map-get($boton1, ov);
    color: map-get($boton1, lecolor);
    border-radius: map-get($boton1, radius);
    
    
   


}

.btn3::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;

    z-index: -1;
    transition: transform 0.5 ease;

}


.btn0 {
    color: $loscolores;
    font-weight: 400;
    color: white;



    &:hover {

        background-color: $loscolores;

    }
}




.navbar-brand {
    opacity: 100%;
    color: rgb(255, 255, 255);
}

.navbar-brand.px-2 {
    padding-right: 20rem;
}

header {
    background-color: rgb(0, 0, 0);
}




