@import '../base/variables';




.navbar {
    border-bottom: 1px solid darken($loscolores, 20%);

}


.nav-link {

    &:hover {
        background-color: $loscolores;
        

    }


}

.navbar-dark .navbar-nav .active>.nav-link {
    background-color: $lescolores;
}

.nav-item {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link.active {
    color: rgb(255, 255, 255);
}

.btn3 {
    overflow: hidden;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgb(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color:white;
    border: solid 1px white;
    

}

.btn3::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    
    z-index: -1;
    transition: transform 0.5 ease;

}


.btn0 {
    color: $loscolores;
    font-weight: 400;
    color: white;
    
    
    
    &:hover{
        
        background-color: $loscolores;

    }
}




.navbar-brand {
    opacity: 100%;
    color: rgb(255, 255, 255);
}

.navbar-brand.px-2 {
    padding-right: 20rem;
}

header {
    background-color: rgb(0, 0, 0);
}