

@media only screen and (min-width:451px) and (max-width:960px) {


    .mapazonas {
        width: 100%;
        height: 100%;


    }


    .tituloentrega {
        font-size: 3rem;
        width: 20rem;
        margin: 0 auto;
        margin-top: 20rem;
    }

    .textoentrega {
        font-size: 1.5rem;

    }

    .futer {
        font-size: 1rem;
        margin-top: 1rem;
       
        
        
        

    }
}

@media only screen and (max-width:450px) {



    .tituloentrega {
        font-size: 2rem;
    }

    .textoentrega {
        font-size: 1rem;

        margin-top: -10rem;
    }

    .futerznd{
        margin-top: -45rem;
    }









}